DOWNLOAD_CHIRPS_BASE_URL="https://data.chc.ucsb.edu/products/CHIRPS-2.0/global_monthly/tifs/"
DOWNLOAD_CHIRPS_PATTERN=".tif.gz"
DOWNLOAD_SM_BASE_URL="https://hydro1.gesdisc.eosdis.nasa.gov/data/FLDAS/FLDAS_NOAH01_C_GL_M.001/"
DOWNLOAD_SM_PATTERN="FLDAS.*\.nc"
DOWNLOAD_LST_BASE_URL="https://e4ftl01.cr.usgs.gov/MOLT/MOD21C3.061/"
DOWNLOAD_LST_PATTERN=".hdf"
DOWNLOAD_NDVI_BASE_URL="https://e4ftl01.cr.usgs.gov/MOLT/MOD13C2.061/"
DOWNLOAD_NDVI_PATTERN=".hdf"